/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  border-bottom: 1px solid var(--hero-border-color);
}

.heroLogoWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.heroHowItWorks {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  background: #fff;
  border-radius: 48px;
  transform: translateX(-50%);
}

.heroHowItWorksImg {
  margin: 40px 0 35px;
}

@media screen and (max-width: 768px) {
  .heroLogoWrapper {
    width: 192px;
    height: 192px;
    margin: auto;
  }
}

.heroLogo {
  width: 100%;
  max-width: 256px;
}

.installTextWrapper {
  width: 100%;
}

.feature {
  margin-bottom: 4.5rem;
}

.feature:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .feature {
    margin-bottom: 1.5rem;
  }
}

.featureReverse {
  flex-direction: row-reverse;
}

.featureImage {
  height: 256px;
}

@media screen and (max-width: 768px) {
  .featureImage {
    height: 96px;
    margin-bottom: 1.5rem;
  }
}

.featureDesc {
  display: flex !important;
  align-items: center;
}


.whiteboard {
  margin-top: 3rem;
  background: #fff;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .whiteboard {
    width: 80%;
    margin: 3rem auto 0;
  }
}

@media (min-width: 512px) and (max-width: 768px) {
  .whiteboardCol {
    --ifm-col-width: calc(6 / 12 * 100%) !important;

    flex: 0 0 var(--ifm-col-width) !important;
    max-width: var(--ifm-col-width) !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .whiteboardCol {
    --ifm-col-width: calc(4 / 12 * 100%) !important;

    flex: 0 0 var(--ifm-col-width) !important;
    max-width: var(--ifm-col-width) !important;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.logoWrapper img {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .logoWrapper {
    height: 100px;
  }

  .logoWrapper img {
    width: 50%;
  }
}

.cncfLogo {
  height: 90px;
}

@media screen and (max-width: 768px) {
  .cncfLogo {
    height: 64px;
  }
}

.heroButtons {
  display: flex;
  justify-content: center
}

@media screen and (max-width: 1200px) {
  .card {
    width: 100% !important;
    margin-bottom: 30px;
  }
}

.background {
  background-color: var(--background-color-light);
}

.container {
  padding-top: 100px;
}

.containerPartnersList {
  padding-top: 50px;
}

.rowHeader {
  text-align: center;
  padding-bottom: 40px;
}

.rowHeaderCard {
  padding-bottom: 40px;
}

.col {
  text-align: center;
}

.font {
  color: #637792;
}

.cardHeaderFont {
  color: #637792;
  font-size: 15px;
}

.cardHeader {
  width: 70%;
}

.cardHeaderBody{
  margin: 10px 0 10px 0;
}

.colPartnersList {
  margin-bottom: 20px;
}

.cardImagePartnersList {
  border-bottom: 2px solid #ebedf0;
  height: 150px;
  overflow: hidden;
}

.cardBodyPartnersList {
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.button {
  /* color: #1c1e21; */
  border: none;
  margin-left: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.cardBodyH4PartnersList {
  flex: 1 1 auto;
  margin-bottom: 0;
}

.cardBodyFoot {
  font-size: smaller;
  line-height: 1.66;
  height: 96px;
}

.cardFooterPartnersList {
  align-items: center;
  border: 1px solid #a4a6a8;
  border-radius: 12px;
  cursor: default;
  display: inline-flex;
  font-size: .675rem;
  margin-bottom: 6px !important;
  margin-right: 6px;
}

.cardFooterSpanPartnersList {
  margin-left: 8px;
}

.cardFooterSpanStylePartnersList {
  border-radius: 50%;
  height: 7px;
  margin-left: 6px;
  margin-right: 6px;
  width: 7px;
}

.text > a {
  color: var(--ifm-color-primary-black) !important;
  border-bottom: 1px solid;
}

.text > a > span:hover {
  color: var(--ifm-color-primary) !important;
  border-bottom: 1px solid var(--ifm-color-primary) !important;
}

.cardImage {
  height: 150px;
  object-fit: contain;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}