{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img class="d-none" src="{{ .bg_image_webp | absURL }}" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'"/>

	<div class="block" style="
    margin-right: 100px;
">
		{{ if .icon }}
		<div class="video-button">
			<i class="{{ .icon }}"></i>
		</div>
		{{ end }}
		<h1 class="titleClass">{{ .title | markdownify }}</h1>
		<p class="contentClass">{{ .content | markdownify }}</p>
		{{ if .button.enable }}
		{{ with .button }}
		<a href="{{ .link }}" class="btn  githubClass">{{ .label }}</a>
		{{ end }}
		{{ end }}
	</div>
	<div class="block" style="visibility:hidden;">
		<h5 class="describeClass">This won't take long…</h5>
		<div class="codeblock exp-left">
		<p class="bannerText">curl -sfL https://get.karmada.io | sh - 
<br/># Check for Ready node, 
takes maybe 30 seconds<br/>
karmada kubectl get node</p>
      </div>
	<p class="describeClass">For detailed installation, <a href="https://github.com/karmada-io/karmada/tree/master/docs" style="text-decoration: underline;">refer to the docs</a></p>
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
<style>
	.bannerText {
		font-size: 14px !important;
		text-align: left;
		margin-left: 10px !important;
		padding-top: 10px;
		width: 100% !important;
	}
	.hero-area {
		height: 360px;
	}
	.hero-area::before {
		background: #30344e;
	}
	.titleClass::before {
		width: 328px;
		height: 24px;
		opacity: 1;
		font-family: PingFangSC, PingFangSC-Semibold;
		font-weight: 600;
		text-align: left;
		color: #ffffff;
		line-height: 24px;
	}
	.hero-area .block h1 {
		font-size: 36px;
		text-align:left;
    }
	.contentClass {
		width: 669px !important;
		height: 23px;
		opacity: 1;
		font-size: 14px !important;
		font-family: PingFangSC, PingFangSC-Regular;
		font-weight: 400;
		text-align: left;
		color: #b0b3c7 !important;
		line-height: 23px;
	}
	.codeblock {
		height: 128px;
		width: 400px;
		opacity: 1;
		background: #22232f;
		border-style: solid;
        border-width: 0;
	}
	.exp-left { 
		border-left:2px solid  #d8b278;
	}

	.describeClass {
		height: 18px;
		width: 280px !important;
		opacity: 1;
		font-size: 12px !important;
		font-family: PingFangSC, PingFangSC-Medium;
		font-weight: 500 !important;
		text-align: left;
		color: #b0b3c7 !important;
		line-height: 18px;
		margin: 0 !important;
	}
	.githubClass {
		width: 116px;
		height: 40px;
		opacity: 1;
		background: #d8b278;
		border-radius: 2px;
		margin-top: 50px;
		float: left;
	}
</style>
