{{ $data := index site.Data site.Language.Lang }}

{{ if $data.getstart.service.enable}}
{{ with $data.getstart.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML }}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			<div class="text-left block col-lg-12">
				<p>{{ .content | safeHTML }}</p>
			</div>
			<div class="codeblock col-lg-12 codeRow">
				{{.cli | safeHTML}}
			</div>
			{{"<!-- /section title -->" | safeHTML }}
		</div>
	</div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
<style>
	.codeRow {
		height: 200px;
	}
</style>
