<section class="sticky-top navigation navbarHead">
	<div class="container">
		<nav class="navbar  ">
			<!-- header section starts  -->
				<header>
					<a href="#" class="logo">BEFIT</a>
					<div id="menu" class="fas fa-bars"></div>
    					<ul>
        					<li><a class="active" href="#about"><h1>About</h1></a></li>
       						 <li><a href="#works"><h1>Works</h1></a></li>
     						   <li><a href="#service"><h1>service</h1></a></li>
      						  <li><a href="#architecture"><h1>Architecture</h1></a></li>
       						 <li><a href="#supporters"><h1>Supporters</h1></a></li>
    					</ul>
				  <!-- Language List -->
				  {{- if site.IsMultiLingual }}
				  <select id="select-language" onchange="location = this.value;">
					{{ $siteLanguages := site.Languages}}
					{{ $pageLang := .Page.Lang}}
					{{ range .Page.AllTranslations }}
					{{ $translation := .}}
					{{ range $siteLanguages }}
					{{ if eq $translation.Lang .Lang }}
					{{ $selected := false }}
					{{ if eq $pageLang .Lang}}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
					</option>
					{{ else }}
					<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
					{{ end }}
					{{ end }}
					{{ end }}
					{{ end }}
				  </select>
				    {{ end }}
		      </header>
            <!-- Header section ends -->
		</nav>
	</div>
</section>
<style>
.navbarHead {
   background: #30344e;
}
</style>
