{{ $data := index site.Data site.Language.Lang }}

{{ if $data.support.portfolio.enable }}
{{ with $data.support.portfolio }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class=" section cooperate" id="portfolio">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>

		<div class="row justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range .portfolio_item }}
			<div>
				<div class="supportLogo">
					<img class="img-fluid supportImg" src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" >
					<!-- <div class="caption"> 
						 <a class="search-icon image-popup" data-effect="mfp-with-zoom" href="{{ .image | relURL }}"
							data-lightbox="image-1">
							<i class="ti-search"></i>
						</a>
						<h4 class="mt-3">
							{{ if or (eq .link "#") (eq .link "") }}
							{{ .name }}
							{{ else }}
							<a href="{{ .link | safeURL }}">{{ .name }}</a>
							{{ end }}
						</h4>
						<p>{{ .content | markdownify }}</p>
					</div> -->
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}
<style>
	.supportLogo {
		text-align: center;
		padding-right: 40px;
	}
	.cooperate {
		opacity: 1;
		background: #f1f3ff;
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.supportImg {
		height: 100px !important;
	}
	.container {
		max-width: 1280px;
	}
</style>
